# .gitignore
/node_modules
/.idea
/.awcache
/.vscode
/.nyc_output
*.log
~*
# .npmignore
/tsconfig.json
/.eslintrc.js
/.editorconfig
/.gitlab-ci.yml
/gulpfile.ts
/jest.config.js
/.releaserc.json
/.nycrc.json
/tslint.json
/ng-package.json
